html,
body {
  font-family: "Red Hat Display", sans-serif;
  height: 100%;
  margin: 0;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -275px -400px;
  background-color: hsl(225, 100%, 98%);
}

/* section */
section {
  height: 100%;
}

/* card-body */
.card .card-body {
  padding: 20px;
}

section .card .card-body h5 {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}

section .card .card-body p.card-text {
  color: hsl(224, 23%, 55%);
}

/* plans in card-body */
section .card .card-body .plans {
  background-color: hsl(225, 100%, 98%);
}

section .card .card-body .plans svg {
  margin: 20px;
}

section .card .card-body .plans .flex-column .annual-plan {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}

section .card .card-body .plans .flex-column .price {
  color: hsl(224, 23%, 55%);
}

section .card .card-body .plans .flex-row {
  margin-top: 30px;
  margin-left: 75px;
}

section .card .card-body .plans .flex-row a.link {
  color: hsl(245, 75%, 52%);
  font-weight: 500;
}

section .card .card-body .plans .flex-row a.link:hover,
section .card .card-body .plans .flex-row a.link:active {
  text-decoration: none;
  color: hsla(245, 75%, 52%, 0.755);
  font-weight: 500;
}

/* buttons */
section .buttons .payment {
  background-color: hsl(245, 75%, 52%);
  color: white;
  box-shadow: 0px 10px 30px hsla(245, 75%, 52%, 0.3);
}

section .buttons .payment:hover,
section .buttons .payment:active {
  background-color: hsla(245, 75%, 52%, 0.755);
}

section .buttons .cancel {
  font-weight: 700;
  font-size: 14px;
  outline: none;
  border: none;
}

section .buttons .cancel:hover,
section .buttons .cancel:active {
  color: black;
  outline: none;
  border: none;
  font-weight: 900;
}

/* media queries */
@media (max-width: 575.98px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
    background-color: hsl(225, 100%, 94%);
  }

  section .card .card-body .plans .flex-row a.link:active {
    text-decoration: none;
    color: hsla(245, 75%, 52%, 0.755);
    font-weight: 500;
  }

  section .buttons .payment:active {
    background-color: hsla(245, 75%, 52%, 0.755);
  }

  section .buttons .cancel:active {
    color: black;
    outline: none;
    border: none;
    font-weight: 900;
  }
}
