html,
body {
  font-family: "Red Hat Display", sans-serif;
  height: 100%;
  margin: 0;
}

section {
  height: 100%;
}

section .card .card-body h5 {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}

section .card .card-body p.card-text {
  color: hsl(224, 23%, 55%);
}
